body {
    background-color: #eee;
}

.container {
    padding-top:75px;
}

.form {
    padding: 15px;
    margin: 0 auto;
}

.form-add {
    width: 100%;
    padding-top:15px;
    padding-bottom:15px;
    background-color:azure;
    height:75;
    top: 85%;
}

.form-add :first-child {
    margin:auto;
    text-align:center;
}

.header {
    position:fixed;
    height:75px;
    width: 100%;
    background-color:azure;
}

.city {
    text-align:center;
}

.footer {
    background-color:bisque;
    width: 100%;
}